<header class="w-full flex px-4 justify-between">
  <div class="flex w-full gap-4">
    <img src="/bemol.png" maxwidth="5%" />
    <div class="flex justify-center items-center">
      <b class="text-white user-name text-2xl">{{ nameUser() }}</b>
    </div>
  </div>
  <div class="actions flex items-center justify-center text-white">
    @if(userLoggedIn()){
    <div
      class="cursor-pointer py-1 px-2 login flex gap-1 items-center justify-center"
      (click)="openModal()"
    >
      <b>Login</b>
      <i class="pt-1 pi pi-id-card"></i>
    </div>
    }
  </div>
</header>

<app-modal-login #modalLogin></app-modal-login>
