<main class="w-full h-full flex items-center justify-center p-14">
  <div class="flex flex-col h-full w-full shadow-lg rounded-sm">
    <div
      class="header-panel dark-blue-bemol rounded-tr-md rounded-tl-md flex items-center justify-center"
    >
      <b class="text-4xl text-white">Portal de Atendimento ao Cliente</b>
    </div>
    <div class="panel flex">
      <aside
        class="aside-chat border bg-slate-100 flex flex-col justify-between"
      >
        <div class="flex flex-col">
          <div
            (click)="initChatWithBot()"
            class="list-element flex items-center gap-5 font-bold text-blue-900 p-7"
          >
            <img src="chat-round-line-svgrepo-com.svg" width="15%" />
            <p>Iniciar uma conversa</p>
          </div>
          <hr class="text-black" />
          <div
            class="list-element flex items-center gap-5 font-bold text-blue-900 p-7"
          >
            <img src="/telegram-svgrepo-com.svg" width="15%" />
            <p>Iniciar chat no Telegram</p>
          </div>
          <hr class="text-black" />
          <div
            class="list-element flex items-center gap-5 font-bold text-blue-900 p-7"
          >
            <img src="/discord-svgrepo-com.svg" width="15%" />
            <p>Iniciar chat no Discord</p>
          </div>
          <hr class="text-black" />
        </div>
        <div class="w-full p-2 flex justify-end cursor-pointer">
          <img
            pTooltip="Enter your username"
            tooltipPosition="top"
            src="/question-circle-svgrepo-com.svg"
            width="10%"
          />
        </div>
      </aside>
      <div class="chat bg-white flex flex-col">
        @if(!initChat || !userLoggedIn){
        <div class="panel-chat flex items-center justify-center flex-col">
          <img src="/Sent Message-bro.svg" width="33%" />
          <b class="text-4xl text-white">Não há nenhuma conversa iniciada</b>
        </div>
        } @if(userLoggedIn && initChat){
        <div
          class="panel-chat p-5 flex flex-col gap-4 border justify-start"
        ></div>
        } @if(userLoggedIn && initChat){
        <div class="panel-input p-3 flex items-center justify-center border">
          <p-input-group class="w-full flex items-center justify-center">
            <p-inputgroup-addon class="flex-grow">
              <p-floatlabel variant="on" class="w-full h-12 border rounded-sm">
                <input
                  [formControl]="prompt"
                  pInputText
                  class="w-full h-12 px-5 bg-slate-100 text-black"
                  id="on_label"
                  autocomplete="off"
                />
                <label for="on_label">Digite aqui...</label>
              </p-floatlabel>
            </p-inputgroup-addon>
            <p-inputgroup-addon class="border button-ia p-3">
              @if(!waitResponse()){
                <p-button (onClick)="sendPrompt()" class="font-bold"
                >Enviar</p-button
              >
              }@if(waitResponse()) {
                <p-progress-spinner tooltipPosition="top" pTooltip="Esperando resposta da IA..." strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '30px', height: '30px' }" />
              }
            </p-inputgroup-addon>
          </p-input-group>
        </div>
        }
      </div>
    </div>
  </div>
</main>
