@use "./app/components/header/header.component.scss" as *;
@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));


:root{

  --light-blue-bemol: #00478e;
  --dark-blue-bemol: #2a2b60;

  .dark-blue-bemol{
    background-color: var(--dark-blue-bemol);
  }

  p-select  input.p-select-filter{
    padding-right: 38px !important;
    width: 100% !important;
  }

  html, body{
    height: calc(100dvh - $header);
  }
}
