*{
  --active-color: #3485d1;
  --p-stepper-step-title-active-color: var(--active-color) !important;
  --p-stepper-step-number-active-color: var(--active-color) !important;
}

.input-adress{
  padding-left: 0.5em;
}

